<a href="https://colab.research.google.com/github/veronica1908/MARKETING_E2_A_III/blob/main/b_preprocesamientoSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Instalar bibliotecas necesarias
!pip install sqlalchemy
!pip install mysql-connector-python

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 36.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [2]:
# Importar bibliotecas
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# Descargar la base de datos desde GitHub
!wget -O 'db_movies.db' 'https://github.com/veronica1908/MARKETING_E2_A_III/blob/1982ad74d134d263af3207cf0ca64088e7f83a36/db_movies'

--2024-03-18 23:56:45--  https://github.com/veronica1908/MARKETING_E2_A_III/blob/1982ad74d134d263af3207cf0ca64088e7f83a36/db_movies
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3805 (3.7K) [text/plain]
Saving to: ‘db_movies.db’

db_movies.db        100%[===================>]   3.72K  --.-KB/s    in 0s

2024-03-18 23:56:45 (31.2 MB/s) - ‘db_movies.db’ saved [3805/3805]

In [18]:
# Cargar la base de datos en Google Colab
engine = create_engine('sqlite:///db_movies.db')

In [20]:
# Ejecutar consultas SQL y cargar los resultados en un DataFrame de pandas
query = "SELECT * FROM movies"
df = pd.read_sql_query(query, engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [9]:
# Mostrar los primeros registros del DataFrame
print(df.head())

NameError: name 'df' is not defined